// light colors
$accentColor = #ffa1a1
$textColor = #363636
$borderColor = #e0e0e0
$arrowBgColor = #ccc
$cardBoxShadow = 0 2px 8px 0 rgba(93,98,106,10%)
$searchBoxShadow = 1px 1px 40px rgba(0, 0, 0, 18%)

// dark colors
$dark_accentColor = #ffa1a1
$dark_textColor = #e8e6e3
$dark_borderColor = #444
$dark_cardBackgroundColor = #1c1d1e
$dark_cardBoxShadow = 0 2px 8px 0 #0000003d
$dark_searchBoxShadow = 4px 4px 35px rgba(0, 0, 0, 80%)

// badge color
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// content
$contentClass = '.article-content'
$descClass = '.article-desc'

// // layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px


// // responsive breakpoints
$MQNarrow = 975px
$MQMobile = 675px
$MQMobileNarrow = 359px